@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.card {
    @apply rounded overflow-hidden shadow-lg;
}

.box{
    @apply bg-slate-500 w-40 h-10 rounded-lg text-white font-bold border-2 border-black text-2xl text-center; 
}

.celda{
   @apply border-collapse border-2 border-black px-2 text-center text-xl w-44;
}
.celdab{
   @apply border-collapse border-2 border-black px-2 text-center text-xl w-24;
}

.boton{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}
.botonm{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold h-6 w-20 rounded my-2 text-xs
}
.botone{
    @apply bg-red-500 hover:bg-red-700 text-white font-bold h-6 w-20 rounded my-2 text-xs
}
.botonv{
    @apply bg-green-500 hover:bg-green-700 text-white font-bold h-6 w-20 rounded my-2 text-xs
}

.left-custom{
    left: 37%
}

.left-18{
    left: 72px;
}


.min-h-100vh{
    min-height: 100vh;
}